     logo_img {
  /* display: none; */
  /* width: 66px; */
  /* height: 16px; */
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%)
  display: none
  height: 45px;
  padding: 16px 20px
  width: 106px;
  position: absolute;
  /* this is just  another comment  */
  top: -13px
  left: 0
}
